.compact {
  position: relative;
  transform: scaleX(0.85);
  margin: auto;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.5s all;
}

.expand {
  position: relative;
  transform: scaleX(1);
}

.count {
  width: 100%;
  justify-content: center;
  display: flex;
}

.tabFlex {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.tab {
  position: absolute;
  width: 100%;
  z-index: 1;
}
