:global(#root > div > div > .swiper-container:nth-child(1)) {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
:global(html),
:global(body) {
  position: relative;
  height: 100%;
}

:global(.swiper-container) {
  width: 100%;
  height: 100%;
}

:global(.swiper-slide) {
  height: auto !important;
}
