.landing {
  height: 100vh;
}

.textbox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  width: 100%;
  font-size: 13.0952380952vw;
  line-height: 1;
  letter-spacing: -0.595vw;
  & span {
    display: block;
  }
  & span:first-child {
    float: right;
  }
  & span:nth-child(2) {
    float: left;
  }
}
